# Project Setup
setuptools
twine
pytest
pytest-cov
coverage
codecov
mypy
# MonkeyType
pylint
# mkdocs
# pycycle
python-decouple
pytest-html

# ...
dataclasses
termcolor
hurry.filesize


# web
flask
flask-bootstrap
nginx

supervisor


# primer
pyGeno
primer3-py
biopython
mfeprimer-py3
pyensembl


pyyaml>=5.0