# Project Setup
setuptools
twine
pytest
pytest-cov
coverage
codecov
mypy
pylint
# mkdocs


# ...
dataclasses
termcolor


# web
flask
flask-bootstrap
nginx

supervisor


# primer
primer3-py
biopython
mfeprimer-py3


pyyaml